@page
@model CrudApp.Pages_Memos.DetailsModel

@{
    ViewData["Title"] = "詳細";
}

<h1>詳細</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Memo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Memo.Title)
        </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Memo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Memo.Description)
        </dd>      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Memo.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Model.Memo.DueDate?.ToString("yyyy/MM/dd HH:mm")
        </dd>
        <dt class="col-sm-2">
            状態
        </dt>
        <dd class="col-sm-10">

            @if (Model.Memo.IsCompleted)
            {
                <span class="badge bg-success">
                    完了
                </span>
            }
            else
            {
                <span class="badge bg-warning text-dark">
                    未完了
                </span>
            }

        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-page="./Edit"
       asp-route-id="@Model.Memo.Id"
       class="btn btn-primary">
        編集
    </a>

    <a asp-page="./Index"
       class="btn btn-secondary">
        前のページに戻る
    </a>
</div>
